[submodule "lib/munit"]
	path = lib/munit
	url = https://github.com/nemequ/munit
[submodule "lib/plibsys"]
	path = lib/plibsys
	url = https://github.com/saprykin/plibsys
[submodule "lib/xxHash"]
	path = lib/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "lib/base64"]
	path = lib/base64
	url = git@github.com:joedf/base64.c.git
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = git@github.com:DaveGamble/cJSON.git
